* { margin: 0; padding: 0; box-sizing: border-box; }
body {
  font-size: 1rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.section {
  padding: 1.5rem .75rem 1.5rem .75rem;
}

h1 {  font-size: 2.5rem; line-height: 2.75rem; margin-bottom: 1.25rem; }
h2 {  font-size: 2rem; line-height: 2.5rem; margin-bottom: 1rem; }
h3 {  font-size: 1.75rem; line-height: 2rem; margin-bottom: .75rem; }
h4 {  font-size: 1.5rem; line-height: 1.75rem; margin-bottom: .5rem; }
h5 {  font-size: 1.25rem; line-height: 1.5rem; margin-bottom: .25rem; }
h6 {  font-size: 1rem; line-height: 1.25rem; margin-bottom: .25rem; }

input[type=text] {
  margin: .1rem 0 .1rem 0;;
  width: 100%;
  font-size: 1rem;
  padding: .4rem;
}
input[type=checkbox] {
	margin: .4rem 0 0 0;
}
button {
  font-size: 1rem;
  margin: .5rem 0rem 0 1rem;
  padding: .5rem;
}

#wrapper {
  margin: 0 auto;
  width: 40rem;
  background: #f0f0f0;
}

#header {
  margin-bottom: 0;
  padding-bottom: 0;
}

.centerText {
  text-align: center;
}
.tableHeader {
  margin-bottom: 0;
  padding-bottom: 0;
  background: #dddddd;
}

.tableBody {
  margin-bottom: 2rem;
  padding-bottom: 0;
}

.tableBody div.column {
  margin-bottom: 0;
  padding-bottom: 0;
}

.tableFooter {
  margin-bottom: 0;
  text-align: right;
}

#recDiv h2{
  text-align: center;
}

#recDiv #recProducts{
  margin: auto;
}